<!DOCTYPE html>
<html lang="en">
<head>
  <title>Telefone Sem Fio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body onload="tocaSom()">

    <div class="jumbotron text-center">

    <h1>mostrando audio</h1>
    </div>

    <audio id="audio" controls autoplay>
        <source src={{myBlob}} type="audio/ogg">
    </audio>

    <script>
        function tocaSom(){
            audio = document.getElementById('audio');

            //audio.src = audioURL;
            //audio.src = {{myBlob}};
        }
    </script>
    
</body>
</html>