<!DOCTYPE html>
<html lang="en">
<head>
  <title>Telefone Sem Fio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-success text-center m-5">Brincando de telefone sem fio com o IBM Watson</h1>
        </div>
        <div class="row justify-content-center">
            <p>Telefone sem fio (também chamado "telefone estragado" em Portugal) é uma tradicional 
                brincadeira popular, na qual uma pessoa fala uma palavra ou frase (o "segredo") 
                ao ouvido de outra pessoa ao seu lado, de modo que os demais participantes não 
                escutem ou descubram imediatamente qual é o "segredo". 
                Quem ouviu o segredo tenta então repeti-lo para o próximo participante, e 
                assim por diante até chegar ao último, que deve contar o segredo em voz alta. 
                Uma das regras do jogo é que o segredo não pode ser repetido ao ouvinte da vez. 
                Por esse motivo é comum o segredo ser mal entendido e por isso passado ao demais 
                ouvintes de forma cada vez mais deturpada, chegando totalmente diferente ao ouvinte final, 
                e isso é o que torna a brincadeira divertida.
            </p>
        </div>
        <div class="row m-5" style="align-content: center;">
            <span style="width: 40%; float: left; text-align: left;">
                <img src="/static/wireleft.png">
            </span>
            <span style="width: 20%; padding: 0px 15px 0px 15px; float: left;">
                <input type="button" class="btn btn-success" id="record" value="segure e fale">
            </span>
            <span style="width: 40%; float: left; text-align: right;">
                <img src="/static/wireright.png">
            </span>
        </div>
        <div class="row justify-content-center">
            <p>Costuma-se também fazer referência a essa brincadeira em qualquer situação que 
                possa haver falhas de comunicação num ambiente que 
                depende de um passar a informação para o outro sucessivamente até 
                chegar num destino. Pode-se fazer crítica a alguma 
                hierarquia numa empresa, por exemplo, dizendo que a 
                ordem do chefe passou como um "telefone sem fio" até chegar ao 
                último empregado que a executou de forma totalmente diferente.
            </p>
        </div>
        <div class="row justify-content-center">
            <p>Fonte:
                <a class="text-center" href="https://pt.wikipedia.org/wiki/Telefone_sem_fio_(brincadeira)">
                    https://pt.wikipedia.org/wiki/Telefone_sem_fio_(brincadeira)</a>
            </p>
        </div>
        <div class="row justify-content-center">
            <audio hidden controls id="audio">
                <source src="" type="audio/ogg">
            </audio>
        </div>
        <div class="row justify-content-center">
            <p>Nossa finalidade aqui é apenas mostrar as capacidades do Watson!</p>
        </div>
    </div>
    

    <script>
    if (navigator.mediaDevices) {
    console.log('getUserMedia supported.');

    var constraints = { audio: true };
    var chunks = [];

    navigator.mediaDevices.getUserMedia(constraints)
    .then(function(stream) {

        var mediaRecorder = new MediaRecorder(stream);
        var press = document.getElementById("record");
        
        press.addEventListener('mousedown', function(){
            this.classList.replace("btn-success", "btn-danger");
            mediaRecorder.start();
        });
        press.addEventListener('touchstart', function(){
            this.classList.replace("btn-success", "btn-danger");
            mediaRecorder.start();
        });
        press.addEventListener('mouseup', function(){
            this.classList.replace("btn-danger", "btn-success");
            mediaRecorder.stop();
        });
        press.addEventListener('touchend', function(){
            this.classList.replace("btn-danger", "btn-success");
            mediaRecorder.stop();
        });

        mediaRecorder.onstop = function(e) 
        {
            console.log("data available after MediaRecorder.stop() called.");

            audio.controls = true;
            var blob = new Blob(chunks, { 'type' : 'audio/ogg; codecs=opus' });
            chunks = [];
            var audioURL = URL.createObjectURL(blob);
            // aqui deve vir o codigo para enviar o blob para o servidor

            fetch("./interpretar", {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'audio/ogg'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: blob
            })
            .then(resp => {
                return resp.blob();
            })
            .then(function(blob) {
                    const objectURL = URL.createObjectURL(blob);
                    let audio = document.getElementById("audio");
                    audio.src = objectURL;
                    audio.play();
            })
            .catch(resp => console.log("catch pegou esse erro: " +resp));
        }

        mediaRecorder.ondataavailable = function(e) {
            chunks.push(e.data);
        }
    }).catch(function(err) {
        console.log('The following error occurred: ' + err);
    })
    }
    </script>
    

</div>
</body>
</html>