<!DOCTYPE html>
<html lang="en">
<head>
  <title>Telefone Sem Fio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Brincando de telefone sem fio com o IBM Watson</h1>
</div>
  
<div class="container">
    <h2>Aperte o botão abaixo para iniciar a gravação!</h2>
    </br>
    </br>

    {% for i in range(iter)%}
    <form action="./interpretando"  method="get">
        <input type="hidden" id="custId" name="custId" value="3487">
        <button type="submit" class="btn btn-success">Gravar</button>
        </br>
        </br>
        <p>A interpretação do Watson foi a seguinte:</p>
        <div class="form-group">
            <label for="interpret">Comment:</label>
            <textarea class="form-control" rows="5" id="interpret">meu texto</textarea>
        </div>
    </form>
    {% endfor %}

</div>
</body>
</html>